table, td,th{
	border: 1px solid black;
}
table{
	border-collapse: collapse;
	width: 100%;
}
tr:nth-child(2n){
	background-color: gray;
}
tr:first-child{
	text-align: left;
	background-color: blue;
	color: white;
}
td{
	text-align: center;
	color:brown;
}
tr:hover{
	background-color: green;
}